.container{
    display: flex;
    flex-direction: column;
    margin: 150px;
    width: 450px;
    height: 550px;
    background-color: rgb(80, 76, 76);
    border-radius: 12px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.screen{
    background-color: black;
    color: WHITE;
    margin: 10px;
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}

.answer{
    color: white;
    margin: 5px 12px;
    font-size: 400%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.board{
    display: flex;
    flex-direction: column;
    max-width: auto;
    gap: 10px;
}

.row5{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
.row4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
.row3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
.row2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
.row1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
button{
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    border-color: rgb(190, 126, 6);
}

.equals{
    background-color: rgb(190, 126, 6);
}