.container{
    display: flex;
    flex-direction: column;
    margin: 150px;
    width: 450px;
    height: 550px;
    background-color: rgb(80, 76, 76);
    border-radius: 12px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.screen{
    background-color: black;
    color: WHITE;
    margin: 10px;
    height: 20%;
    border-radius: 10px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}

.answer{
    color: white;
    margin: 5px 12px;
    font-size: 400%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}